{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block style %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="{{ STATIC_URL }}css/material-dashboard.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/morris.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cognos.css">
<!--     <link href='{{ STATIC_URL }}css/fullcalendar.css' rel='stylesheet' /> -->
  {% endblock style %}

    <title>Agrocognitive</title>
  </head>
  <body>
{% if user.is_authenticated %}
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->

      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          <img src="{{ STATIC_URL }}img/AgroCognitive-White.png" height="50"></img>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'perfil' %}">
              <i class="material-icons">person</i>
              <p>Perfil de Usuario</p>
            </a>
          </li>
          <li class="nav-item" id="monitoreo">
             <a id="pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link" style="font-size:14px;" href="#">
                <i class="fas fa-helicopter"></i>
                Monitoreo
             </a>

            <ul class="collapse list-unstyled" style="">
               
               <li class="nav-item">
                  <a href="{% url 'monitoreo' %}" class="nav-link">
                    <i class="far fa-file-alt"></i>
                    <p>Solicitar Monitoreo</p>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fas fa-chart-line"></i>
                    <p>An&aacute;lisis Actual</p>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fas fa-book"></i>
                    <p>Hist&oacute;ricos y Evolutivos</p>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fas fa-print"></i>
                    <p>Reportes</p>
                  </a>
               </li>

            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'ordenes' %}">
              <i class="material-icons">content_paste</i>
              <p>Ordenes de Servicio</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'facturacion' %}">
              <i class="material-icons">library_books</i>
              <p>Facturacion</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'analisis' %}">
              <i class="material-icons">language</i>
              <p>Cognos</p>
            </a>
          </li>
        </ul>
      </div>

<!--             <div class="logo">
        <a href="#" class="simple-text logo-normal">
          <img src="{{ STATIC_URL }}img/isotipo.png" height="60"></img>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item"  rel="tooltip" data-placement="right" title="Dashboard" >
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="fas fa x2 fa-helicopter"></i>
            </a>
          </li>
          <li class="nav-item " rel="tooltip" data-placement="right" title="Perfil de Usuario">
            <a class="nav-link" href="{% url 'perfil' %}">
              <i class="material-icons">person</i>
            </a>
          </li>
          <li class="nav-item"  rel="tooltip" data-placement="right" title="Monitoreo" id="monitoreo">
             <a id="pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link" style="font-size:14px;" href="#">
                <i class="fas fa-helicopter"></i>
                
             </a>

            <ul class="collapse list-unstyled" style="background-color: rgba(200, 200, 200, 0.2);">
               
               <li class="nav-item" rel="tooltip" data-placement="right" title="Solicitar Monitoreo">
                  <a href="{% url 'monitoreo' %}" class="nav-link">
                    <i class="far fa-file-alt"></i>
    
                  </a>
               </li>
               <li class="nav-item" rel="tooltip" data-placement="right" title="An&aacute;lisis Actual">
                  <a href="#" class="nav-link">
                    <i class="fas fa-chart-line"></i>
    
                  </a>
               </li>
               <li class="nav-item" rel="tooltip" data-placement="right" title=">Hist&oacute;ricos y Evolutivos">
                  <a href="#" class="nav-link">
                    <i class="fas fa-book"></i>
                    <p</p>
                  </a>
               </li>
               <li class="nav-item" rel="tooltip" data-placement="right" title="Reportes">
                  <a href="#" class="nav-link">
                    <i class="fas fa-print"></i>
    
                  </a>
               </li>

            </ul>
          </li>
          <li class="nav-item " rel="tooltip" data-placement="right" title="Ordenes de Servicio">
            <a class="nav-link" href="{% url 'ordenes' %}">
              <i class="material-icons">content_paste</i>
            </a>
          </li>
          <li class="nav-item " rel="tooltip" data-placement="right" title="Facturacion">
            <a class="nav-link" href="{% url 'facturacion' %}">
              <i class="material-icons">library_books</i>
            </a>
          </li>
          <li class="nav-item " rel="tooltip" data-placement="right" title="Cognos">
            <a class="nav-link" href="{% url 'analisis' %}">
              <i class="material-icons">language</i>
            </a>
          </li>
        </ul>
      </div> -->
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
            <span style="margin-right:10px;">Bienvenido: {{user.first_name}} </span>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa x2 fa-bell"></i>
                  <span class="notification">3</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Proximo Monitoreo Arroz 28/8/2019</a>
                  <a class="dropdown-item" href="#">Factura Vencida.<button class="btn btn-secondary" onclick="pagar()" style="margin-left:20px;">Pagar</button></a>
                  <a class="dropdown-item" href="#">Atra Notificacion</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa x2 fa-user"></i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'cerrarSesion' %}">Salir</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

  {% endif %}
    {% block content %}

    {% endblock content %}
    <!-- Optional JavaScript -->
{% block scripts %}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ STATIC_URL }}js/core/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/core/popper.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/moment.min.js"></script>
  <script src="https://dde-us-south.analytics.ibm.com/daas/CognosApi.js"></script>
  <script src="{{ STATIC_URL }}js/core/bootstrap-material-design.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/material-dashboard.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/plugins/jquery.validate.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/bootstrap-selectpicker.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->

  <script src="{{ STATIC_URL }}js/plugins/jquery.dataTables.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/morris.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

  <!--  Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="{{ STATIC_URL }}js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->

    <!-- Chartist JS -->
<!--   <script src="{{ STATIC_URL }}js/plugins/chartist.min.js"></script> -->
  <script src="http://thetheme.io/theadmin/assets/vendor/chartjs/Chart.min.js"></script>

  <script>
   // Workaround for https://github.com/Eonasdan/bootstrap-datetimepicker/issues/1714
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();


        $('#monitoreo').css('background-color','#fff')

        $('.sidebar-wrapper ul.nav li:has(ul)').on('click',function(e){
          e.preventDefault();
            if ($(this).hasClass('active')){
                $(this).removeClass('active');
                $(this).children('ul').slideUp();
                $(this).removeAttr('style')
                $(this).css('background-color','#eee')
                console.log('if')
              } else {
                $('.sidebar-wrapper ul.nav li ul').slideUp();
                $('.sidebar-wrapper ul.nav li').removeClass('active');
                $(this).addClass('active');
                $(this).children('ul').slideDown();
              }
            });

         $('.sidebar-wrapper ul.nav li a').click(function(){
            if ($(this).attr("href") != "#") {
              window.location.href = $(this).attr("href");
            }
          });

        
          var URLactual = window.location.pathname;
          console.log(URLactual)
          var url = $('a[href="'+URLactual+'"]');
          url.parents('li').addClass('active')
          url.parents('ul').slideDown()

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

   
        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
 
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
{% endblock scripts%}
  </body>
</html>
