{% extends "base.html" %}
{% block style %}
  {{block.super}}
  	<!-- Fonts and Icons -->
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" />
	<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/paper-bootstrap-wizard.css" rel="stylesheet" />
<style type="text/css">
	iframe {
    	width: 1px;
    	min-width: 100%;
    	border:none;
  	}
</style>
{% endblock style%}
{% block content %}

<div class="content">
	        <div class="row">
		        <div class="col-sm-12">

		            <!--      Wizard container        -->
		            <div class="wizard-container">

		                <div class="card wizard-card" data-color="orange" id="wizardProfile">
		                    <form action="" method="">
		                <!--        You can switch " data-color="orange" "  with one of the next bright colors: "blue", "green", "orange", "red", "azure"          -->

		                    	<div class="wizard-header text-center">
		                        	<h3 class="wizard-title">Solicitar Monitoreo</h3>
									<p class="category">Por favor llene todos los campos solicitados, para completar su solicitud de forma exitosa.</p>
		                    	</div>

								<div class="wizard-navigation">
									<div class="progress-with-circle">
									     <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
									</div>
									<ul>
			                            <li class="font-li">
											<a href="#about" data-toggle="tab">
												<div class="icon-circle">
													<i class="fas fa-file-image"></i>
												</div>
												Cargar Mapa
											</a>
										</li>
			                            <li class="font-li">
											<a href="#about" data-toggle="tab">
												<div class="icon-circle">
													<i class="fas fa-map-marked-alt"></i>
												</div>
												Zona de Monitoreo
											</a>
										</li>
			                            <li class="font-li">
											<a href="#address" data-toggle="tab">
												<div class="icon-circle">
													<i class="fas fa-file-invoice"></i>
												</div>
												Datos Adicionales
											</a>
										</li>
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            <div class="tab-pane" id="about">
			                            <div id="G-wrapper">
			                            	<iframe src="{% url 'terreno' %}" id="myIframe" frameborder="0" height="100"></iframe>
			                            </div>
									</div>
		                            <div class="tab-pane" id="account">
		                                <h4 class="info-text"> Selecciona el area de monitoreo</h4>
		                                <div class="row">
		                                    <div class="col-sm-offset-2">	
		                                    	<img src="{{ STATIC_URL }}img/planVuelo.jpeg" align="center">
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="tab-pane" id="address">
		                            	
		                                <div class="row" style="margin-top:20px;">
					                      <div class="col-md-4">
					                        <div class="form-group">
					                          <label class="bmd-label-floating">Nro de Orden</label>
					                          <input type="text" class="form-control" value="1234565667" disabled>
					                        </div>
					                      </div>
					                      <div class="col-md-4">
					                        <div class="form-group">
					                          <label class="bmd-label-floating">Nombre de la finca</label>
					                          <input type="email" class="form-control">
					                        </div>
					                      </div>
					                      <div class="col-md-4">
					                        <div class="form-group">
					                          <label class="bmd-label-floating">Tipo de Cultivo</label>
					                          <input type="text" class="form-control">
					                        </div>
					                      </div>
					                   </div>
					                   <div class="row">
		                            		<div class="container">
											    
											</div>
										</div>
					                   <div class="row" style="margin-top:20px;">
					                      <div class="col-md-4">
					                        <div class="form-group">
					                          <label class="bmd-label-floating">Nro de Hectareas</label>
					                          <input type="text" class="form-control" value="">
					                        </div>
					                      </div>
					                      <div class="col-md-4">
					                        <div class="form-group">
					                          <label class="bmd-label-floating">Localidad</label>
					                          <input type="email" class="form-control">
					                        </div>
					                      </div>
					                      <div class="col-md-4">
					                        <div class="form-group">
					                          		<select name="frecuencia" class="form-control">
														<option disabled="" selected="">Frecuencia de Monitoreo</option>
	                                                	<option value="1">Semanal</option>
	                                                	<option value="2">Mensual</option>
	                                                	<option value="3">Trimestral</option>
	                                            	</select>
					                        </div>
					                      </div>
					                   </div>
					                   <div class="row" style="margin-top:20px;">
					                      <div class='col-md-4'>
										        <div class="form-group pmd-textfield pmd-textfield-floating-label">
													<label class="control-label" for="datetimepicker-default">Inicio de Monitoreo</label>
													<input type="text" id="datetimepicker6" class="form-control" />
												</div>
											</div>
										    <div class='col-md-4'>
										        <div class="form-group pmd-textfield pmd-textfield-floating-label">
													<label class="control-label" for="datetimepicker-default">Final de Monitoreo</label>
													<input type="text" id="datetimepicker7" class="form-control" />
												</div>
										    </div>
					                      <div class="col-md-4">
					                      	<div class="form-group">
<!-- 		                                            <label class="bmd-label-floating"></label> -->
	                                            	<select name="dron" class="form-control">
														<option disabled="" selected="">Tipo de levantamiento de imagen</option>
	                                                	<option value="1">Satelital</option>
	                                                	<option value="2">RPA</option>
	                                            	</select>
		                                   	</div>
					                      </div>
					                   </div>
		                        	</div>
		                        <div class="wizard-footer">
		                            <div class="pull-right">
		                                <input type='button' class='btn btn-next btn-fill btn-warning btn-wd' name='next' value='Siguiente' id="btn-siguiente" onclick="pasar()" />
		                                <input type='button' class='btn btn-finish btn-fill btn-warning btn-wd' name='finish' value='Finalizar' />
		                            </div>

		                            <div class="pull-left">
		                                <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Atras' onclick="volver()" />
		                            </div>
		                            <div class="clearfix"></div>
		                        </div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	    	</div><!-- end row -->
</div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/paper-bootstrap-wizard.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/iframeResizer.min.js" type="text/javascript"></script>
    <script type="text/javascript">
	/*	const  iframes  =  iFrameResize ([{options}], [css selector] || [iframe]);*/
		$(document).ready(function() {
			iFrameResize({ log: true }, '#myIframe')
		});

		function pasar(){
				document.getElementById('myIframe').contentWindow.Siguiente()
			}

			function volver(){
				var href = $("#address").hasClass("active")
				if(href == false){
				document.getElementById('myIframe').contentWindow.Atras()
				}
			}

		$("#G-wrapper").click (function () { $(this).find ("iframe").css ("pointer-events", "auto"); }); $("#G-wrapper").mouseleave (function () { $(this).find ("iframe").css ("pointer-events", "none"); }); 
	</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.bootstrap.wizard.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<!--     <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> -->
<script type="text/javascript">
$(function () {
	/*var datepicker = $.fn.datepicker.noConflict(); // return $.fn.datepicker to previously assigned value*/
	/*$.fn.bootstrapDP = datepicker;  */
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
 </script>
{% endblock scripts%}