{% extends "base.html" %}

{% block content %}
<div class="content">
	<div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Crear Orden</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nro de Orden</label>
                          <input type="text" class="form-control" value="1234565667"disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cultivo</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Coordenadas</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Dron</label>
                          <select name="dron" class="form-control">
								<option disabled="" selected=""></option>
                            	<option value="Si">Si</option>
                            	<option value="No">No</option>
	                      </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group date" id="datetimepicker11">
                          <label class="bmd-label-floating">Fecha</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Mapa de Cultivo</label>
                          <div class="form-group">
                            <label class="bmd-label-floating">foto.</label>
                            <textarea class="form-control" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Generar Orden</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

{% endblock content%}

{% block scripts %}
    {{ block.super }}
<script type="text/javascript">
 $(function () {
    $('#datetimepicker11').datetimepicker({
        daysOfWeekDisabled: [0, 6]
    });
});

</script> 
{% endblock scripts %}